* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-style: italic;
    color: white;    
}

body {
    background: rgb(9, 9, 83);
}

.container {
    width: 80%;
    max-width: 1400px;
    margin: 5rem auto;
    padding: 5rem;
    background: tomato;
    border-radius: 25px;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3rem;

}
